<ul>
    <% prehistoricData.forEach((predino)=> { %>
        <li>
            <%= predino.type %>
            <img src="<%= predino.img_url %>" alt="image of a prehistoric creater">
        </li>
    <% }) %>
</ul>