<form method="POST" action="/prehistoric">
    <label for="prehistoricName">Type</label>
    <!-- the for and the id need to be the same -->
    <input type="text" id="prehistoricName" name="type">
    <label for="prehistoricType">Image URL</label>
    <input type="text" id="prehistoricType" name="img_url">

    <input type="submit" value="Add a prehistoric creature">
</form>